$button-transition-time   : 250ms;
$button-transition-ease   : $ease-in-out-quad;
$button-border-radius     : 3px;

@mixin button--base {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    vertical-align: top;
}

button {
  @include button--base;
  transition: $button-transition-time $button-transition-ease;
  transition-property: color, background-color;
}

.button--arrow {
  padding: 0 !important;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: $color-grey-light !important;
  transition: .3s box-shadow ease;

  img {
    width: 10px;
    height: 10px;
  }

  &:hover {
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  }

  &.is--pressed {
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
  }
}
