ol {
  padding-left: $global-spacing;
}

ol, ul {
  list-style: none;
  margin-bottom: 15px;
  margin-left: 25px;
}

li {
  position: relative;
  margin-bottom: 15px;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: $color-primary;
    border-radius: 100%;
    position: absolute;
    left: -25px;
    top: 8px;
  }
}