ol {
  padding-left: $global-spacing;
}

ol, ul {
  list-style: none;
  margin-bottom: 25px;
}

li {
  position: relative;
  margin-bottom: 15px;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: $color-black;
    border-radius: 100%;
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
  }
}