.block-title {
  display: inline-flex;
  margin-left: -50px;
  margin-top: -10px;
  margin-bottom: 10px;
  color: $color-white;
  min-width: 80px;
  min-height: 80px;
  background-color: $color-black;
  font-weight: $font-weight-black;
  font-family: $font-stack-secondary;
  justify-content: center;
  align-items: center;
}