/*----------------------------------*\
  #COLORS
\*----------------------------------*/

// Color palette

$color-primary		          : #ff5454;  // Tam Tam red

// Colors Debug data

$color-anthracite             : #2b2a27;  // Anthracite
$color-orange                 : #ff5d38;  // Orange
$color-turquoise              : #26a6a6;  // Turquoise
$color-lime                   : #bcd42a;  // Lime
$color-yellow-light           : #ede0ce;  // Light yellow