{% from 'components/chapter-slide.html' import chapterSlide %}

{% macro chapterSection(data) %}

    <section class="c-chapter-section
            {% if data.background %}{{ data.background }}{% endif %}
            {% if data.fullwidth %} is--fullwidth {% endif %}
            {% if data.verticalCentered %} is--vertical-centered {% endif %}
            {% if data.type %}is--{{ data.type }}{% endif %}"
            data-anchor="{{ data.anchor }}"
            data-chapter="{{ data.chapter }}">

        {% if data.text or data.columnOne %}

            <div class="chapter-section__content-container">

                <div class="o-container">

                    <div class="o-grid-12">

                        <div class="{% if data.fullwidth or data.columnOne %} u-col-12 {% else %}u-col-6{% endif %}">

                            {% if data.text %}

                                <div class="chapter-section__text">
                                    {{ data.text | safe }}
                                </div>

                            {% endif %}

                            {% if data.columnOne %}

                                <div class="o-grid-12">

                                    <div class="u-col-6">

                                        <div class="chapter-section__text">
                                            {{ data.columnOne | safe }}
                                        </div>

                                    </div>

                                    <div class="u-col-6">

                                        <div class="chapter-section__text">
                                            {{ data.columnTwo | safe }}
                                        </div>

                                    </div>

                                </div>

                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        {% endif %}

        {% if data.subchapters %}

            {% for subchapter in data.subchapters %}

                {{ chapterSlide(subchapter) }}

            {% endfor %}

        {% endif %}

    </section>

{% endmacro %}