{#{% from 'components/item.html' import item %}#}

{% macro chapterSection(data) %}

    <section class="c-chapter-section" data-anchor="{{ data.chapter }}">

        <h2 class="chapter-section__title">
            {{ data.chapter }}
        </h2>

        <div class="chapter-section__content-container">

            <div class="chapter-section__content">

                <div class="chapter-section__text">
                    {{ data.text | safe}}
                </div>

            </div>

        </div>

        {#{% if data.subchapters %}#}

            {#<div class="chapter-section__slide-container">#}
    {##}
                {#{% for subchapter in data.items %}#}
    {##}
                    {#{{ item(contentItem) }}#}
    {##}
                {#{% endfor %}#}
    {##}
            {#</div>#}
                {##}
        {#{% endif %}#}


    </section>

{% endmacro %}