{#{% from 'components/item.html' import item %}#}

{% macro chapterSlide(data) %}

    <section class="c-chapter-slide" data-anchor={{ data.chapter }}>

        <h2 class="chapter-slide__title">
            {{ data.chapter }}
        </h2>

        <div class="chapter-slide">
            {{ data.text | safe}}
        </div>

        <div class="chapter-slide">

            {% for contentItem in data.items %}

                {{ item(contentItem) }}

            {% endfor %}

        </div>


    </section>

{% endmacro %}