{% from 'components/image-slider.html' import imageSlider %}
{% from 'components/persona.html' import persona %}
{% from 'components/comparison-chart.html' import comparisonChart %}

{% macro chapterSlide(data) %}

    <div class="c-chapter-slide
            {% if data.background %}{{ data.background }}{% endif %}
            {% if data.fullwidth %} is--fullwidth {% endif %}
            {% if data.verticalCentered %} is--vertical-centered {% endif %}
            {% if data.type %}is--{{ data.type }}{% endif %}"
            data-anchor="{{ data.anchor }}"
            data-chapter="{{ data.chapter }}"
    >

        <div class="chapter-slide__content-container">

            <div class="o-container">

                <div class="o-grid-12">

                    <div class="{% if data.fullwidth or data.columnOne %} u-col-12 {% else %}u-col-6{% endif %}">

                        <h3 class="chapter-slide__title">
                            {{ data.chapter }}
                        </h3>

                        {% if data.text %}
                            <div class="chapter-slide__text">
                                {{ data.text | safe }}
                            </div>
                        {% endif %}

                        {% if data.columnOne %}

                            <div class="o-grid-12">

                                <div class="u-col-6">

                                    <div class="chapter-slide__text">
                                        {{ data.columnOne | safe }}
                                    </div>

                                </div>

                                <div class="u-col-6">

                                    <div class="chapter-slide__text">
                                        {{ data.columnTwo | safe }}

                                        {% if data.persona %}

                                            {{ persona() }}

                                        {% endif %}

                                        {% if data.images and not data.imagesFullWidth %}

                                            {{ imageSlider(data.images) }}

                                        {% endif %}
                                    </div>

                                </div>

                            </div>

                        {% endif %}

                    </div>

                    {% if data.images and not data.columnOne and not data.imagesFullWidth %}

                        <div class="u-col-6">

                            {{ imageSlider(data.images) }}

                        </div>

                    {% endif %}

                    {% if data.images and data.imagesFullWidth %}

                        <div class="u-col-12">

                            <div class="chapter-slide__text">

                                {{ imageSlider(data.images) }}

                            </div>

                        </div>

                    {% endif %}

                </div>

            </div>

        </div>

    </div>

{% endmacro %}