{% macro comparisonChart() %}

    <div class="c-comparison-chart">

        <table class="table table-bordered table-hover table-condensed">

            <tbody><tr>
                <td> </td>
                <td>Pocket</td>
                <td>Bookmarks</td>
                <td>Google Keep</td>
                <td>Evernote</td>
                <td>Notes</td>
                <td>Confluence</td>
                <td>Dropmark</td>
            </tr>
            <tr>
                <td>Categorising system </td>
                <td>Y</td>
                <td>Y</td>
                <td> </td>
                <td>Y</td>
                <td>Y</td>
                <td>Y</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>Tag / Label system</td>
                <td>Y</td>
                <td> </td>
                <td>Y</td>
                <td>Y</td>
                <td> </td>
                <td> </td>
                <td>Y</td>
            </tr>
            <tr>
                <td>Browser Extension</td>
                <td>Y</td>
                <td> </td>
                <td>Y</td>
                <td>Y</td>
                <td> </td>
                <td> </td>
                <td>Y</td>
            </tr>
            <tr>
                <td>Able to create own categories</td>
                <td> </td>
                <td>Y</td>
                <td> </td>
                <td>Y</td>
                <td>Y</td>
                <td>Y</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>Fast save</td>
                <td>Y</td>
                <td>Y</td>
                <td>Y</td>
                <td>Y</td>
                <td> </td>
                <td> </td>
                <td>Y</td>
            </tr>
            <tr>
                <td>Prioritising system</td>
                <td>Y</td>
                <td> </td>
                <td>Y</td>
                <td> </td>
                <td> </td>
                <td>Y</td>
                <td> </td>
            </tr>
            <tr>
                <td>Reminder / save later functionality</td>
                <td> </td>
                <td> </td>
                <td>Y</td>
                <td>Y</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Group functionality</td>
                <td> </td>
                <td> </td>
                <td>Y / N</td>
                <td>Y</td>
                <td> </td>
                <td>Y</td>
                <td>Y</td>
            </tr>
            </tbody></table>

    </div>
{% endmacro %}