<div class="c-chapter-section c-chapter-section--first is--vertical-centered" data-anchor="welkom" data-chapter="Welkomscherm">

    <img src="../assets/svg/brand/plucked.svg" alt="Plucked logo" class="chapter-section__logo">

    <div class="chapter-section__content-container">
        <h3 class="chapter-section__intro-title">“Hoe kan een centraal platform ervoor zorgen dat de frontend developers van TamTam elkaar up to date houden en vakinhoudelijke content met elkaar kunnen delen zodat zij niet verdrinken in de overload aan beschikbare online content over het vakgebied“</h3>
    </div>

    <div class="chapter-section__side-content">
        <p>Tom Snepvangers</p>
        <p>500684506</p>
        <p>21 Januari 2018</p>
        <p>Micky van Zeijl</p>
        <p>CMD Amsterdam</p>
    </div>

    <img src="../assets/svg/brand/tamtam.svg" alt="TamTam logo" class="chapter-section__tamtam-logo">

</div>