<header class="c-header {% if headerType %}{{ headerType }} {% endif %}">

    <div class="header__container">

        <div class="header__logo">
            <img src="../assets/svg/brand/plucked-simple.svg" alt="Plucked logo">
        </div>

        <nav class="c-menu is--green">

            <ul class="menu__list">

                <li class="menu__list-item"><a href="http://logboek.tomsnepvangers.com">Logboek</a></li>
                <li class="menu__list-item"><a href="http://scriptie.tomsnepvangers.com" target="_blank">Scriptie</a></li>

            </ul>
        </nav>

    </div>

</header>