{% macro imageSlider(data) %}

    <div class="c-image-slider" data-js-hook="image-slider">

        <div class="image-slider__slider-container">

            {% for image in data %}

                    <div class="image-slider__slide">

                        <img src="{{ image.src }}" alt="" class="image-slider__image">

                        <span class="image-slider__caption">{{ image.caption }}</span>

                    </div>


            {% endfor %}

        </div>


        <div class="image-slider__controls">

            <span class="image-slider__control image-slider__control--prev">Prev</span>
            <span class="image-slider__control image-slider__control--next">Next</span>

        </div>

    </div>

{% endmacro %}