{% from 'components/image-slider.html' import imageSlider %}
{% from 'components/audio.html' import audio %}

{% macro item(data) %}

    <div class="c-item">

        <div class="item__header">

            <span class="item__date">{{ data.date }}</span>

            <h2 class="item__title">{{ data.title }}</h2>

        </div>

        <div class="o-container">
            <div class="o-grid-12">

                    {% if data.text|length %}

                        <div class="u-col-12">

                            <div class="item__content-block">

                                <p class="item__text">
                                {{ data.text|safe }}
                            </p>

                            </div>

                        </div>

                    {% endif %}

                    {% if data.lists|length %}

                        <div class="u-col-6">

                            <div class="item__content-block">

                                <div class="block-title">
                                    Notes.
                                </div>

                                {% for list in data.lists %}

                                    <ul class="item__list">

                                        {% for item in list.items %}

                                            <li class="item__list-item">

                                                {{ item|safe }}

                                            </li>

                                        {% endfor %}

                                    </ul>

                                {% endfor %}

                            </div>

                        </div>

                    {% endif %}

                    {% if data.images|length %}

                        <div class="u-col-12">

                            <div class="item__content-block">

                                <div class="block-title">
                                    Pics.
                                </div>

                                {{ imageSlider(data.images) }}

                            </div>

                        </div>

                    {% endif %}

                    {% if data.audio|length %}

                        <div class="u-col-6">

                            <div class="item__content-block">

                                <div class="block-title">
                                    Audio.
                                </div>

                                {% for audioItem in data.audio %}

                                    {{ audio(audioItem) }}

                                {% endfor  %}

                            </div>

                        </div>

                    {% endif %}

                    {% if data.pdf|length %}

                        <div class="u-col-12">

                            <div class="item__content-block">

                                <div class="block-title">
                                    PDF.
                                </div>

                                <div class="item__pdf" data-js-hook="pdf-viewer" data-pdf-src="{{ data.pdf }}"></div>

                            </div>

                        </div>

                    {% endif %}

                    {% if data.articles|length %}

                        <div class="u-col-6">

                            <div class="item__content-block">

                                <div class="block-title">
                                    Links.
                                </div>

                                <ul class="item__list">

                                    {% for article in data.articles %}

                                        <li class="item__list-item"><a href="{{ article }}">{{ article }}</a></li>

                                    {% endfor %}

                                </ul>

                            </div>

                        </div>

                    {% endif %}

                    {% if data.form|length %}

                    <iframe src="{{ data.form }}" width="760" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

                {% endif %}

            </div>
        </div>
    </div>

{% endmacro %}