<div class="c-mobile-check is--hidden" data-js-hook="mobile-check">

    <div class="mobile-check__inner-container">

        <h1>Hallo daar!</h1>

        <p>Leuk dat je benieuwd bent naar mijn afstudeerproject!</p>
        <p>Helaas zijn de websites van het <a href="logboek.tonsnepvangers.com" target="_blank">logboek</a> en de <a href="scriptie.tomsnepvangers.com" target="_blank">scriptie</a> alleen te bekijken op laptop schermformaten en hoger (>= 1280px)</p>
        <p>Dus pak je laptop erbij en check 't uut!</p>

    </div>

</div>