{% macro persona() %}

    <div class="c-persona">

        <div class="persona__top-container">

            <img data-src="../../assets/images/scriptie/persona.jpg" alt="persona" class="persona__image">

            <div class="persona__top-text">

                <span class="persona__quote">
                    Ik wil up to date blijven over het vakgebied en online content hierover delen met mijn collega’s
                </span>

                <span class="persona__name">
                    Bram Vermeulen
                </span>

                <span class="persona__description">
                    Frontend developer bij TamTam. Specialiseert zich in Javascript en deelt graag kennis en online content over het vakgebied met zijn collega’s
                </span>

            </div>

        </div>

        <div class="persona__bottom-container">

            <div class="o-grid-12">

                <div class="u-col-6">

                    <h5>Behoeften & doelen tijdens het opslaan van online content</h5>

                    <p>Ik wil de content op een makkelijke en snelle manier kunnen opslaan zodat dit zo min mogelijk tijd kost</p>

                    <p>De opgeslagen items moeten op een gestructureerde manier worden weergegeven zodat ik weet wat ik heb opgeslagen en het overzicht behoudt</p>

                </div>

                <div class="u-col-6">

                    <h5>Behoeften & doelen tijdens het delen van online content</h5>

                    <p>De gedeelde content moet zoveel mogelijk collega’s bereiken zodat zij ook de informatie kunnen nuttigen</p>

                    <p>Het delen van de content wil ik delen via mijn huidige kanalen zodat dit zo min mogelijk tijd kost</p>

                </div>

                <div class="u-col-12">

                    <h4 class="u-margin-top--xs">Motivatie</h4>

                    <h5>Sociale cohesie</h5>

                    <p>Wanneer ik interessante content tegen kom op het gebied van web-development wil ik dit graag delen met mijn collega’s.
                        Ik wil graag dat zij ook up to date blijven over het vakgebied en wij als groep frontend developers en collega’s samen op vooruit gaan.</p>

                    <h5>Zelf ontwikkeling</h5>
                    <p>Als ik interessante content tegenkom over het vakgebied wil ik dit graag bekijken en hier beter van worden. Ik wil mezelf continu blijven verbeteren.</p>

                </div>

            </div>

        </div>

    </div>

{% endmacro %}