{% from 'components/item.html' import item %}

{% macro weekContainer(data) %}

    <section class="c-week-container" data-js-hook="accordion">

        <header class="week-container__header">

            <h1 class="week-container__title">Week: {{ data.week }} / {{ data.month }}</h1>

        </header>

        <div class="week-container__content">

            {% for contentItem in data.items %}

                {{ item(contentItem) }}

            {% endfor %}

        </div>


    </section>

{% endmacro %}