.c-menu {

}

  .menu__list {
    list-style-type: none;
  }

  .menu__list-item {
    margin: 0;
    display: inline-block;
    font-weight: $font-weight-bold;
    font-size: 2rem;
    transform: color .3s ease;


    & + .menu__list-item {
      margin-left: 50px;
    }

    a {
      color: $color-primary;
      text-decoration: none;
    }
    
    &:before {
      display: none;
    }
  }