.c-week-container {

  &:first-of-type {
    margin-top: 150px;
  }
}

  .week-container__title {
    position: relative;
    color: $color-grey-light;
    transition: .3s margin ease;
    cursor: pointer;
    z-index: 1;

    &:hover {
      margin-left: -55px;
    }

    .is--open & {
      margin-left: -55px;
      margin-bottom: -28px;
    }
  }

  .week-container__content {
    height: 0;
    opacity: 0;
    transition: .3s height ease, .3s opacity ease;

    .is--open & {
      height: auto;
      opacity: 1;
    }
  }