.c-chapter-section {
  position: relative;

  &.is--fullwidth {
    padding-bottom: 0;
  }
}

  .chapter-section__content-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .chapter-section__text {
    padding-bottom: 25px;
  }