.c-fullpage {
  position: relative;
}

  .fullpage__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .fullpage__header {
    height: 60px;
    padding: 10px 25px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100vw;
    background: white;
    z-index: 10000;
    transform: translate3d(0,0,0);
    box-shadow: 0 0 10px 0 rgba(212,212,212,0.50);
    
    .fp-viewing-welkom & {
      display: none;
    }
  }

  .fullpage__header-button {
    display: flex;
    align-items: center;
    color: lighten($color-grey, 40%);
    transition: .3s color ease;

    &:hover {
      color: $color-primary;
    }

    img {
      margin-left: 10px;
      width: 10px;
    }
  }

  .fullpage__slides-indicator {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 15px 15px;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(255,255,255, .4) 0%, rgba(255,255,255,1) 85%);
    color: lighten($color-grey, 30%);

    img {
      width: 10px;
      height: 10px;
    }

    .fp-viewing-welkom & {
      background: none;
    }
  }

  // arrows

  .fullpage__navigation-arrows {
    position: fixed;
    right: 15px;
    bottom: 50px;
    z-index: 11;

    .prev + .next {
      display: none;
    }

    .fp-viewing-welkom & {
      right:initial;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .fullpage__nav-up {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10001;

    .fp-viewing-welkom & {
      display: none;
    }
  }

  .fullpage__nav-left {
    margin-right: 2px;
  }

  .fullpage__nav-right {
    margin-left: 2px;
  }

  .fullpage__nav-down {
    margin: 0 2px;

    .fp-viewing-aanbevelingen & {
      opacity:0;
    }
  }


  // fp-scroller

  .fp-scrollable {
    border-bottom: 25px solid white;
  }