.c-image-slider {
  position: relative;
  max-height: 80vh;

  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

  .image-slider__slide {
    max-height: 75vh;
    object-fit: contain;
  }

  .image-slider__control--prev {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .image-slider__control--next {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
}