.c-comparison-image {
  position: relative;
  margin: 50px 0 80px 0;

  & > * {
    position: absolute;
    width: 100%;
  }
}

  .comparison-image__before {
    overflow: hidden;
  }

  .comparison-image__instruction {
    top: -30px;
    font-size: 14px;
    color: lighten($color-grey, 40%);
    font-family: $font-stack-secondary;
  }

  .comparison-image__caption {
    bottom: -50px;
    display: block;
    color: $color-primary;
    font-weight: $font-weight-bold;
    font-family: $font-stack-secondary;
  }