.c-header {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  left: 0;
  top: 0;
  background: $color-white;
  box-shadow: 0 0 10px 0 rgba(212,212,212,0.50);
  z-index: 10;

  &.is--hidden {
    display: none;
  }
}

  .header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: $font-weight-black;
    font-size: 40px;
  }