.c-week-container {

  &:first-of-type {
    margin-top: 150px;
  }
}

  .week-container__title {
    position: relative;
    color: $color-grey-light;
    transition: .3s transform ease;
    cursor: pointer;
    z-index: 1;

    &:hover {
      transform: translate3d(-55px, 0, 1px);
    }

    .is--open & {
      transform: translate3d(-55px, 28px, 1px);
    }
  }

  .week-container__content {
    opacity: 0;
    transition: .3s opacity ease;

    .is--open & {
      opacity: 1;
    }
  }