.c-chapter-section {
  position: relative;

  &.is--fullwidth {
    padding-bottom: 0;
  }
}

  .chapter-section__content-container {
    padding-top: 25px;

    .is--vertical-centered & {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .chapter-section__text {
    padding-bottom: 35px;
  }