{% extends '_dev/layout.html' %}


{% block content %}


    {% include '_dev/project/pages-list.html' %}


    <div class="c-project-info">


      <div class="o-container">
        <div class="o-grid-12">
          <div class="u-col-12">

            <!--
                <p>
                    Add your own readme info here...
                </p>
            -->

            <p>
                Please visit the <a href="/README.html">README</a> for all the information on this setup!
            </p>

            <br/><br/>

            {% include '_dev/project/nunjucks-info.html' %}

          </div>
        </div>
      </div>

    </div>


{% endblock %}





