{% extends 'layouts/default.html' %}
{% set headerType = "is--hidden" %}
{% set bodyClass = "fullpage" %}

{% block content %}

    <div class="fullpage__header">

        <div class="c-menu" data-js-hook="menu">

            <div class="menu__trigger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="menu__nav">

                <ul class="menu__list">
                    {% for chapter in scriptie %}

                        <li class="menu__list-item">
                            <a data-menuanchor="{{ chapter.anchor }}" href="#{{ chapter.anchor }}">{{ chapter.chapter }}</a>

                            {% if chapter.subchapters %}

                                <ul class="menu__list">
                                    {% for subchapter in chapter.subchapters %}

                                        <li class="menu__list-item menu__list-item--secondary">

                                            <a data-menuanchor="{{ subchapter.anchor }}" href="#{{ chapter.anchor }}/{{ subchapter.anchor }}">{{ subchapter.chapter }}</a>

                                        </li>

                                    {% endfor %}
                                </ul>

                            {% endif %}
                        </li>

                    {% endfor %}

                    <li class="menu__list-item menu__list-item--green">
                        <a href="http://logboek.tomsnepvangers.com" target="_blank">Logboek</a>
                    </li>
                </ul>

            </div>

        </div>


        <h2 class="fullpage__title">
        </h2>

        <button class="fullpage__header-button" data-js-hook="fp-nav-up">
            <span></span>
            <img src="../assets/svg/icons/up-arrow--light.svg" alt="button up">
        </button>

    </div>

    <div class="c-fullpage" data-js-hook="fullpage">

        {% from 'components/chapter-section.html' import chapterSection %}

        {% for chapter in scriptie %}

            {{ chapterSection(chapter) }}

        {% endfor %}

    </div>

    <div class="c-loader">
        <p>Loading<span>.</span><span>.</span><span>.</span></p>
    </div>

    <div class="fullpage__navigation-arrows">

        <button class="c-button button--arrow fullpage__nav-slides fullpage__nav-left is--hidden" data-js-hook="fp-nav-left">

            <img src="../assets/svg/icons/left-arrow.svg" alt="button left">

        </button>

        <button class="c-button button--arrow fullpage__nav-sections fullpage__nav-up" data-js-hook="fp-nav-up">

            <img src="../assets/svg/icons/up-arrow.svg" alt="button up">

        </button>

        <button class="c-button button--arrow fullpage__nav-sections fullpage__nav-down" data-js-hook="fp-nav-down">

            <img src="../assets/svg/icons/down-arrow.svg" alt="button down">

        </button>

        <button class="c-button button--arrow fullpage__nav-slides fullpage__nav-right is--hidden" data-js-hook="fp-nav-right">

            <img src="../assets/svg/icons/right-arrow.svg" alt="button right">

        </button>

    </div>

    <div class="fullpage__slides-indicator">

        <button class="prev is--hidden" data-js-hook="fp-nav-left">
            <img src="../assets/svg/icons/left-arrow--light.svg" alt="button left">
            <span></span>
        </button>

        <button class="next is--hidden" data-js-hook="fp-nav-right">
            <span></span>
            <img src="../assets/svg/icons/right-arrow--light.svg" alt="button left">
        </button>
    </div>

{% endblock %}
