@mixin h1 {
    font-family: $font-stack-secondary;
    color: $color-black;
    line-height: $font-line-height-h1;
    font-weight: $font-weight-black;
    @include fluid-type($font-size-h1, $font-size-h1/1.5);

}

@mixin h2 {
    font-family: $font-stack-secondary;
    color: $color-black;
    line-height: $font-line-height-h2;
    font-weight: 800;
    @include fluid-type($font-size-h2, $font-size-h2/1.5);
}

@mixin h3 {
    margin-bottom: 10px;
    font-family: $font-stack-secondary;
    font-weight: $font-weight-extrabold;
    color: $color-grey;
    line-height: $font-line-height-h3;
    @include fluid-type($font-size-h3, $font-size-h3/1.2);

}

@mixin h4 {
    margin-bottom: 10px;
    font-family: $font-stack-secondary;
    font-size: $font-size-h4;
    font-weight: $font-weight-extrabold;
    line-height: $font-line-height-h4;

}

@mixin h5 {
    font-family: $font-stack-secondary;
    color: $color-primary;
    font-size: $font-size-h5;
    line-height: $font-line-height-h5;

}

@mixin h6 {
    font-family: $font-stack-secondary;
    color: $color-primary;
    font-size: $font-size-h6;
    line-height: $font-line-height-h6;

}
