{% set title='Grid' %}

{% extends './block.html' %}


{% block content %}

    <style>
        .grid-test, .grid-test--blue, .grid-test--green {
            content: '';
            display: block;
            height: 100px;
            margin-bottom: 10px;
            background-color: #333333;
            line-height: 100px;
            text-align: center;
            color: white;
        }
        .grid-test--blue {
            background-color: #223446;
        }
        .grid-test--green {
            background-color: #2f4631;
        }
    </style>

    <p>Small grid example to play with, see the <a href="/readme.html">README</a> for more information.</p><br/>

    <div class="o-grid-12">
        <div class="u-col-2 u-col-4--md u-col-6--lg">
            <span class="grid-test">u-col-2 u-col-4--md u-col-6--lg</span>
        </div>
        <div class="u-col-2 u-col-4--md u-col-6--lg">
            <span class="grid-test">u-col-2 u-col-4--md u-col-6--lg</span>
        </div>
        <div class="u-col-2 u-col-4--md u-col-6--lg">
            <span class="grid-test--blue">u-col-2 u-col-4--md u-col-6--lg</span>
        </div>
        <div class="u-col-2 u-col-4--md u-col-6--lg">
            <span class="grid-test--blue">u-col-2 u-col-4--md u-col-6--lg</span>
        </div>
        <div class="u-col-12 u-col-6--md u-col-3--lg">
            <span class="grid-test--green">u-col-12 u-col-6--md u-col-3--lg</span>
        </div>
        <div class="u-col-12 u-col-6--md u-col-3--lg">
            <span class="grid-test--green">u-col-12 u-col-6--md u-col-3--lg</span>
        </div>
        <div class="u-col-12 u-col-6--md u-col-3--lg">
            <span class="grid-test--green">u-col-12 u-col-6--md u-col-3--lg</span>
        </div>
        <div class="u-col-12 u-col-6--md u-col-3--lg">
            <span class="grid-test--green">u-col-12 u-col-6--md u-col-3--lg</span>
        </div>
    </div>


{% endblock %}

